<h2>Ethical Issues</h2>
<p>There are a number of challenging and nuanced ethical problems that relate to machine learning and artificial intelligence. Below, we lay out some of the topics that concern researchers and others about ways in which machine learning, deep learning, and massive amounts of data collection currently affect our world and might do so in the future. 
</p>

<ul>
    <li><a class="jump-to-section" href="#privacy">Privacy</a></li>
    <li><a class="jump-to-section" href="#bias">Bias</a></li>
    <li><a class="jump-to-section" href="#abuse-and-misuse">Abuse and Misuse</a></li>
    <li><a class="jump-to-section" href="#model-explainability">Model Explainability</a></li>
    <li><a class="jump-to-section" href="#responsibility">Responsibility</a></li>
    <li><a class="jump-to-section" href="#automation-of-labor">Automation of Labor</a></li>
    <li><a class="jump-to-section" href="#existential-risks">Existential Risks</a></li>
</ul>

<h3>Other Ethics Resources</h3>
<p>
The list of topics above is not exhaustive nor is it the only way to group these ideas. Here are some other treatments of this topic:
  <ul>
    <li><a target="_blank" href="https://deepmind.com/applied/deepmind-ethics-society/research/">Deep Mind</a></li>
    <li><a target="_blank" href="https://www.media.mit.edu/courses/the-ethics-and-governance-of-artificial-intelligence/">MIT Ethics course</a> with a <a target="_blank" href="https://dam-prod.media.mit.edu/x/2018/07/30/Syllabus%20Ethics%20and%20Governance%20of%20AI%20.pdf">syllabus that includes lots of links to other resources</a></li>
    <li><a target="_blank" href="https://ai.google/research/pubs/pub45512">Concrete Problems in AI Safety from Google</a></li>
    <li><a target="_blank" href="https://arxiv.org/abs/1807.03341">Troubling Trends in Machine Learning Scholarship</a></li>
    <li><a target="_blank" href="http://www.fatml.org/">Fairness, Acountability, and Transparency in Machine Learning</a></li>
    <li>Cathy O'Neil wrote a <a target="_blank" href="https://weaponsofmathdestructionbook.com/">book about ethics issues in Machine Learning and Big Data</a> (and we have a copy of this book for loan). She also frequently writes about these topics in Bloomberg:
      <ul>
        <li><a target="_blank" href="https://www.bloomberg.com/view/articles/2018-03-15/computer-algorithms-need-to-know-what-fair-means">How to Teach a Computer What 'Fair' Means</a></li>
        <li><a target="_blank" href="https://www.bloomberg.com/view/articles/2018-03-09/big-data-alone-can-t-fix-a-broken-bail-system">Big Data Alone Can't Fix a Broken Bail System</a></li>
        <li><a target="_blank" href="https://www.bloomberg.com/view/articles/2018-01-18/personality-tests-are-failing-american-workers">Personality Tests are Failing American Workers</a></li>
        <li><a target="_blank" href="https://www.bloomberg.com/view/articles/2017-11-30/false-negatives-can-be-a-matter-of-life-and-death">Does the Algorithm Merely Reinforce It's Maker's Biases?</a></li>
        <li><a target="_blank" href="https://www.bloomberg.com/view/articles/2017-11-30/false-negatives-can-be-a-matter-of-life-and-death">False Negatives Can Be a Matter of Life and Death</a></li>
      </ul>
    </li>
  </ul>
</p>
<h2>Ethics Exercises</h2>
<ul>
    <li>Choose one of the ethics topics, read through the notes, and summarize what you learned to a classmate.</li>
    <li>Find another example in the news of an ethical issue involving machine learning.</li>
</ul>
