<h3>Machine Learning Categories</h3>
<p>There are <a href="http://www.deeplearningbook.org/contents/ml.html">many</a> <a href="http://machinelearningmastery.com/a-tour-of-machine-learning-algorithms/">different</a> <a href="https://en.wikipedia.org/wiki/Machine_learning#Types_of_problems_and_tasks">lists</a> <a href="http://scikit-learn.org/stable/">classifying</a> machine learning tasks. Here is one such list:</p>
<h3>Types of Tasks</h3>
<ul>
<li><strong>Classification</strong>: Which group/type does each data point belong to? Typically, there are a finite number of groups or labels that are known ahead of time.</li>
<li><strong>Clustering: </strong>Which data points are related to one another? Often, you specify how many groups you want the algorithm to find, but it otherwise makes the groups on its own.</li>
<li><strong>Regression: </strong>Predicts a numerical value for a given data point, given other information about the data point. Another way to think about it is that it learns the parameters of an equation that gives the relationship between certain variables in the data.</li>
<li><strong>Translation: </strong>Transforms one set of symbols into an equivalent set of symbols of a different type. For example, it could be translating between different foreign languages or translating word problems into mathematical equations.</li>
<li><strong>Anomaly Detection: </strong>Which data points are out of the norm?</li>
<li><strong>Generation: </strong>Given examples of good output, produce similar but novel output.</li>
</ul>
<h3>Types of Learning</h3>
<ul>
<li><strong>Supervised </strong>learning is trained on datasets that include an output that the machine should be generating.</li>
<li><strong>Unsupervised </strong>learning has no pre-specified answers. The goal is to organize or represent the data in some new way.</li>
<li><strong>Semi-supervised </strong>learning uses both samples that have desired outputs (also called labels) as well as unlabeled data.</li>
</ul>
