<h1>Resources</h1>

<h3>Podcasts</h3>
<ul>
    <li><a target="_blank" href="https://twimlai.com/">This Week in Machine Learning and AI</a> has interviews with a variety of people on topics that range from practical applications to theoretical research. They also organize study groups and events.</li>
</ul>

<h3>Blogs</h3>
<ul>
    <li><a target="_blank" href="https://magenta.tensorflow.org/">Project Majenta</a> is an open source research project for making music and art using machine learning.</li>
    <li><a target="_blank" href="https://aiweirdness.com/">AI Weirdness</a> has examples of ways that machine learning algorithms get things wrong.</li>
    <li><a target="_blank" href="http://karpathy.github.io/">Andrej Karpathy</a>'s blog has in-depth explanations of machine learning topics.</li>
    <li><a target="_blank" href="https://medium.com/@Joy.Buolamwini">Joy Buolamwini</a>'s blog explores ethical issues in artificial intelligence.</li>
    <li><a target="_blank" href="https://www.cleverhans.io/">cleverhans</a>  covers security and privacy in machine learning.</li>
</ul>

<h3>Collections of Resources</h3>
<ul>
    <li><a target="_blank" href="https://paperswithcode.com/">Papers with Code</a> collects papers for which the researchers have released their code, organized by topic.</li>
</ul>
