<h2>Setting Up Python3</h2>
<p>First, go to <a target="_blank" href="https://www.python.org/downloads/">Python.org</a>, download the latest version of Python, and run the installer. <b>IMPORTANT:</b> If Python 3.9 is available, DO NOT download the latest version of Python before checking to make sure that Tensorflow supports it. If it does not yet, then download Python 3.8.</p>
<p>We will be using a number of extra Python libraries to perform and visualize our data analyses. There are various tools to help you install Python libraries, and <strong>pip</strong> is one of the more commonly used ones, so we will be using that.</p>
<p>In Terminal:</p>
<pre>python3 -m pip install matplotlib<br />python3 -m pip install scipy<br />python3 -m pip install scikit-learn</pre>
<p>After you have done this, check to make sure this worked by running</p>
<pre>python3</pre>
<p>and trying the following line at the <strong>&gt;&gt;&gt;</strong> prompt:</p>
<pre>import matplotlib, numpy, scipy, sklearn</pre>
<p>If you don't get any errors, you are all set! Hit Ctrl+d to exit the Python prompt.</p>
<h3>Troubleshooting</h3>
<p>If you get a warning like <pre>WARNING: You are using pip version 19.2.3, however version 19.3.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.</pre> then run</p>
<pre>python3 -m pip install --upgrade pip</pre>
<p>If you're running into errors installing matplotlib:</p>
<pre>brew install pkg-config freetype</pre>
<p>If you're running into errors installing scipy and it mentions gfortran:</p>
<pre>brew install gcc</pre>
<p>If you're getting an error about missing cython:</p>
<pre>python3 -m pip install cython</pre>
<p>If you get an error while installing sklearn about unsupported option '-fopenmp':</p>
<pre>brew install libomp
export CC=/usr/bin/clang
export CXX=/usr/bin/clang++
export CPPFLAGS="$CPPFLAGS -Xpreprocessor -fopenmp"
export CFLAGS="$CFLAGS -I/usr/local/opt/libomp/include"
export CXXFLAGS="$CXXFLAGS -I/usr/local/opt/libomp/include"
export LDFLAGS="$LDFLAGS -L/usr/local/opt/libomp/lib -lomp"
export DYLD_LIBRARY_PATH=/usr/local/opt/libomp/lib</pre>
<p>For more details on this error, see <a href="https://github.com/scikit-learn/scikit-learn/issues/13371">here.</a></p>

<h2>Learning Python</h2>
<p>If you're new to Python, you might want to spend some time outside of class learning the syntax and how it compares to the other languages you know, so that you can more quickly get to the core concepts in your assignments. Since this is not an introductory programming class, we will not be going over these concepts all together, though of course we are always happy to answer questions as they come up.</p>
<p>Here are some resources you can use:</p>
<ul>
    <li><a target="_blank" href="https://www.learnpython.org/">Interactive Python Tutorial</a></li>
    <li><a target="_blank" href="https://www.codecademy.com/learn/learn-python">Codecademy Course</a></li>
</ul>
<p>We are also going to rely heavily on the Numpy library, which you may not have used even if you have worked with Python. While we will explain how we are using the library as we go, as this is not something we already expect you to know, you may find it helpful to learn about it beforehand, in which case we recommend this <a target="_blank" href="https://www.learnpython.org/en/Numpy_Arrays">interactive tutorial</a>.</p>
