<h2>Setting Up Python3</h2>
<p>First, go to <a class="" title="Link" href="https://www.python.org/downloads/mac-osx/" data-preview-alt="">Python.org</a>, download Python 3.7.0, and run the installer.</p>
<p>We will be using a number of extra Python libraries to perform and visualize our data analyses. There are various tools to help you install Python libraries, and <strong>pip</strong> is one of the more commonly used ones, so we will be using that. Because we are using Python3, we need to use <strong>pip3</strong> to install the libraries in the right Python environment.</p>
<p>In Terminal:</p>
<pre>pip3 install matplotlib<br />pip3 install scipy<br />pip3 install scikit-learn</pre>
<p>After you have done this, check to make sure this worked by running</p>
<pre>python3</pre>
<p>and trying the following line at the <strong>&gt;&gt;&gt;</strong> prompt:</p>
<pre>import matplotlib, numpy, scipy, sklearn</pre>
