---
---

@import "{{ site.theme }}";

pre {
  background: #eeeeee;
}

section {
  width: 645px;
}

#attribution {
    width: 230px;
    position: fixed;
    top: 180px;
    left: 50%;
    margin-left: -580px;
    text-align: right;
}

nav ul li.tag-h1 {
  font-size: 1.5em;
}

nav ul li.tag-h2 {
  font-size: 1.2em;
}

nav ul li.tag-h3 {
  font-size: 0.9em;
}

nav ul li.active a {
  color: #4276b6;
}

div.wrapper section h1 {
  font-size: 36px;
}

.indented {
  margin-left: 5em;
}

.fraction_divider {
  background-color: black;
  height: 1px;
  margin: 0 auto;
}
