---
---

/*
 * Code adapted from
 *   Leap Day for GitHub Pages by Matt Graham
 *   https://github.com/pages-themes/leap-day/blob/2a52e13cbe0bc0dd19392f3b7b684e0f7ea9a68b/_sass/jekyll-theme-leap-day.scss
*/

@import "normalize";
@import "fonts";

body {
  font:14px/22px 'Quattrocento Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#666;
  font-weight:300;
  margin: 0px;
  padding:0px 0 20px 0px;
  background: url(../images/body-background.png) #eae6d1;
}

h1, h2, h3, h4, h5, h6 {
  color:#333;
  margin:30px 0 10px;
}

h1 {
  font-size: 36px;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

a {
  color:#3399cc;
  font-weight:400;
  text-decoration:none;
}

a small {
  font-size:11px;
  color:#666;
  margin-top:-0.6em;
  display:block;
}

ul{
  list-style-image:url('../images/bullet.png');
}

strong {
  font-weight: bold;
  color: #333;
}

section img {
  max-width: 100%;
}

blockquote {
  border-left:1px solid #ffcc00;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code {
  font-family: 'Lucida Sans', Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  font-size:13px;
  color:#efefef;
  text-shadow: 0px 1px 0px #000;
  margin: 0 4px;
  padding: 2px 6px;
  background: #333;
  border-radius: 2px;
}

pre {
  padding:8px 15px;
  background: #eeeeee;
  border-radius: 3px;
  border:1px solid #c7c7c7;
  overflow: auto;
  overflow-y: hidden;

  code {
    margin: 0px;
    padding: 0px;
  }
}

table {
  width:100%;
  border-collapse:collapse;
}

th {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #e5e5e5;
  color: #444;
}

td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #e5e5e5;
  border-right: 1px solid #ffcc00;

  &:first-child {
    border-left: 1px solid #ffcc00;
  }
}

hr {
  border: 0;
  outline: none;
  height: 11px;
  background: transparent url('../images/hr.gif') center center repeat-x;
  margin: 0 0 20px;
}

dt {
  color:#444;
  font-weight:700;
}

header {
  padding: 25px 20px 40px 20px;
  margin: 0;
  position: fixed;
  top: 0;
  left:0;
  right:0;
  width: 100%;
  text-align: center;
  background: url(../images/background.png) #4276b6;
  box-shadow: 1px 0px 2px rgba(0,0,0,.75);
  z-index:99;
  -webkit-font-smoothing:antialiased;
  min-height: 76px;

  h1 {
    font: 40px/48px 'Copse', "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #f3f3f3;
    text-shadow: 0px 2px 0px #235796;
    margin: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
  }

  p {
    color: #d8d8d8;
    text-shadow:rgba(#000, 0.2) 0 1px 0;
    font-size: 18px;
    margin: 0px;
  }
}

#banner {
  z-index: 100;
  left:0;
  right:0px;
  height: 50px;
  margin-right:0px;
  width: 100%;
  position: fixed;
  top: 90px;
  background: #ffcc00;
  border: 1px solid #f0b500;
  box-shadow: 0px 1px 3px rgba(0,0,0,.25);
  border-radius: 0px 2px 2px 0px;
  padding-right: 10px;

  .button {
    border: 1px solid #dba500;
    background: linear-gradient(rgb(255, 231, 136), rgb(255, 206, 56));
    border-radius: 2px;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,.4), 0px 1px 1px rgba(0,0,0,.1);
    background-color: #FFE788;
    margin-left: 5px;
    padding: 10px 12px;
    margin-top: 6px;
    line-height:14px;
    font-size:14px;
    color:#333;
    font-weight: bold;
    display:inline-block;
    text-align:center;

    &:hover {
      background: linear-gradient(rgb(255, 231, 136), rgb(255, 231, 136));
      background-color: #ffeca0;
    }
  }

  .fork {
    position:fixed;
    left:50%;
    margin-left:-325px;
    padding: 10px 12px;
    margin-top: 6px;
    line-height:14px;
    font-size:14px;
    background-color: #FFE788;
  }

  .downloads {
    float: right;
    margin:0 45px 0 0;

    span {
      float:left;
      line-height:52px;
      font-size:90%;
      color:#9d7f0d;
      text-transform:uppercase;
      text-shadow:rgba(#fff, 0.2) 0 1px 0;
    }
  }

  ul {
    list-style:none;
    height:40px;
    padding:0;
    float: left;
    margin-left:10px;

    li {
      display:inline;

      a.button {
        background-color: #FFE788;
      }
    }
  }

  #logo {
    position:absolute;
    height: 36px;
    width: 36px;
    right:7px;
    top:7px;
    display: block;
    background: url(../images/octocat-logo.svg);
  }
}

section {
  width: 80%;
  padding: 30px 30px 50px 30px;
  margin: 20px 0;
  margin-top: 10px;
  position:relative;
  background: #fbfbfb;
  border-radius: 3px;
  border: 1px solid #cbcbcb;
  box-shadow: 0px 1px 2px rgba(0,0,0,.09), inset 0px 0px 2px 2px rgba(255,255,255,.5), inset 0 0 5px 5px rgba(255,255,255,.4);
}

small {
  font-size:12px;
}

nav {
  width: 230px;
  margin-left:0px;
  margin-top: 10px;
  padding-top: 30px;
  text-align: right;

  ul {
    list-style: none;
    list-style-image:none;
    font-size: 14px;
    line-height:24px;

    li {
      padding: 5px 0px;
      line-height: 16px;
      // padding-right:17px;
      // position:relative;
      // right:-12px;

      &.active {
        a {
          color: #4276b6;
        }
      }

      &.tag-h1 {
        font-size: 1.5em;

        a {
          font-weight: bold;
        }

        + .tag-h2 {

        }
      }

      &.tag-h2 {
        font-size: 1.2em;

        + .tag-h1 {
          margin-top:10px;
        }
      }
    }

    a {
      color: #666;

      &:hover { color: #999; }
    }
  }
}

footer {
  width:180px;
  position: fixed;
  left:50%;
  margin-left:-530px;
  bottom:20px;
  text-align: right;
  line-height: 16px;
}

/*
 * CSS for independently-scrolling sections from
 * https://benfrain.com/independent-scrolling-panels-body-scroll-using-just-css/
 */

/* Original author loves them some border-box*/
* {
    box-sizing: border-box;
}
/* This just stops horizontal scrolling if anything overflows the width */
body {
    overflow-x: hidden;
}

/* Just removing default browser padding/margin */
html,
body {
    padding: 0;
    margin: 0;
}
/*
   Flexbox gives us the flexiness we need. The top just stays put as there is no scrolling on the body due to the
   page never exceeding viewport height
 */
.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    position: relative;
    z-index: 10;
    height: 100px;
}
/*
   This is our main wrapping element, it's made 110vh high to ensure it is always the correct size and then moved
   into place and padded with negative margin and padding
 */
.wrapper {
    display: flex;
    overflow: hidden;
    height: 110vh;
    margin-top: -150px;
    padding-top: 150px;
    position: relative;
    width: 100%;
    backface-visibility: hidden;
    will-change: overflow;
}
/*
  All the scrollable sections should overflow and be whatever height they need to be. As they are flex-items
  (due to being inside a flex container) they could be made to stretch full height at all times if needed.
  WebKit inertia scrolling is being added here for any present/future devices that are able to make use of it.
 */
.nav-panel,
.main-panel {
    overflow: auto;
    height: auto;
    padding: .5rem;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}
/*
   Entirely optional - original author just wanted to remove the scrollbar on WebKit browsers as they find them ugly
 */
.nav-panel::-webkit-scrollbar,
.main-panel::-webkit-scrollbar {
    display: none;
}

/*
   nav panel is a set size while the main panel is set to flex one so it occupies all remaining space.
 */

.nav-panel {
    width: 260px;
}

.main-panel {
    flex: 1;
}

@media print, screen and (max-width: 1060px) {

  div.wrapper {
    width:auto;
    margin-top: 0px;
    padding-top: 0px;
  }

  section {
    margin-left: 10%;
  }

  .nav-panel, .banner {
    display: none;
  }
}

.indented {
  margin-left: 5em;
}

.fraction_divider {
  background-color: black;
  height: 1px;
  margin: 0 auto;
}
